# 1. EDA
En este apartado se pretende analizar los datasets para poder enfocar mejor la limpieza

## 1.1 Importación y carga de datos
Debemos declarar las librerías que usamos y leer el correspondiente archivo de datos

In [1]:
# Importación de librerías
import pandas as pd

# Lectura dataset
df = pd.read_csv('../JuegosSucio.csv')

## 1.2 Configuración de Pandas
Para poder leer bien los resultados de las ejecuciones, vamos a configurar tanto el número máximo de columnas como el número máximo de filas

In [2]:
# Número máximo de filas a mostrar
pd.set_option('display.max_rows', None)

# Número máximo de columnas a mostrar
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', 2000)

## 1.3 Descripción general del dataset
Para poder conocer ciertas características relevantes del dataset, como el número de instancias (filas) y características (columnas) procederemos a usar diferentes funciones de Pandas

In [3]:
# Descripción de parámetros generales -> count, mean, std, min, 25%, 50%, 75%, max
print(df.describe())

# Número de filas y columnas del dataset
print("\n")
print("Número de filas: ", df.shape[0])
print("Número de columnas: ", df.shape[1])
print("\n")

# Para saber el tipo de variable de cada columna
print(df.info())

                 ID    COD_BARRIO  COD_DISTRITO    COORD_GIS_X   COORD_GIS_Y       LATITUD      LONGITUD    COD_POSTAL           NDP
count  1.457300e+04  14573.000000  14563.000000   14572.000000  1.457200e+04  14573.000000  14573.000000  14274.000000  1.339300e+04
mean   3.814316e+06    128.042819     12.428071  442711.912339  4.474460e+06     40.416010     -3.675021  27815.398136  1.979662e+07
std    3.742758e+06     53.288250      5.333806    4293.667555  4.637075e+03      0.337419      0.059007   2451.379141  8.411893e+06
min    1.864600e+04     11.000000      1.000000  429536.820000  4.464943e+06      0.000000     -3.831256      0.000000  1.100019e+07
25%    3.331400e+04     91.000000      9.000000  439600.892500  4.470545e+06     40.383502     -3.712022  28022.000000  1.109662e+07
50%    3.580354e+06    131.000000     13.000000  442744.680000  4.473559e+06     40.410791     -3.674777  28031.000000  2.007771e+07
75%    7.802495e+06    171.000000     17.000000  446219.894250  4.478408e+06     40.454414     -3.633803  28042.000000  3.101188e+07
max    9.536975e+06    215.000000     21.000000  453393.182000  4.487427e+06     40.534905      0.000000  28055.000000  3.106979e+07


Número de filas:  14573
Número de columnas:  24


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14573 entries, 0 to 14572
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  14573 non-null  int64
 1   DESC_CLASIFICACION  14573 non-null  object
 2   COD_BARRIO          14573 non-null  int64
 3   BARRIO              14573 non-null  object
 4   COD_DISTRITO        14563 non-null  float64
 5   DISTRITO            14563 non-null  object
 6   ESTADO              14573 non-null  object
 7   COORD_GIS_X         14572 non-null  float64
 8   COORD_GIS_Y         14572 non-null  float64
 9   SISTEMA_COORD       14573 non-null  object
 10  LATITUD             14573 non-null  float64
 11  LONGITUD            14573 non-null  float64
 12  TIPO_VIA            1960 non-null   object
 13  NOM_VIA             1959 non-null   object
 14  NUM_VIA             1962 non-null   object
 15  COD_POSTAL          14274 non-null  float64
 16  DIRECCION_AUX       11813 non-null  object
 17  NDP                 13393 non-null  float64
 18  FECHA_INSTALACION   13875 non-null  object
 19  CODIGO_INTERNO      13867 non-null  object
 20  CONTRATO_COD        14573 non-null  object
 21  MODELO              8100 non-null   object
 22  tipo_juego          14573 non-null  object
 23  ACCESIBLE           2189 non-null   object
dtypes: float64(7), int64(2), object(15)
memory usage: 2.7+ MB
None

## 1.4 Observación inicial del dataset
Vamos a mostrar 30 entradas para poder observar cómo es realmente por dentro el dataset

In [4]:
# Mostramos las 10 primeras filas, 10 filas aleatorias y las 10 últimas
print("   ----------    10 primeras filas    ----------    ")
print("\n")
print(df.head(10))
print("\n")
print("   ----------    10 filas aleatorias    ----------    ")
print("\n")
print(df.sample(10))
print("\n")
print("   ----------    10 últimas filas    ----------    ")
print("\n")
print(df.tail(10))

   ----------    10 primeras filas    ----------


        ID           DESC_CLASIFICACION  COD_BARRIO          BARRIO  COD_DISTRITO               DISTRITO     ESTADO  COORD_GIS_X  COORD_GIS_Y SISTEMA_COORD    LATITUD  LONGITUD TIPO_VIA NOM_VIA NUM_VIA  COD_POSTAL              DIRECCION_AUX         NDP    FECHA_INSTALACION CODIGO_INTERNO CONTRATO_COD MODELO  tipo_juego ACCESIBLE
0  9536972         Varios Juegos en CDE         125        MOSCARDO          12.0                  USERA  OPERATIVO   440127.235  4471484.870        ETRS89  40.391812 -3.705463      NaN     NaN     NaN     28026.0                   C/TORERO  11084099.0  2024-01-31 00:00:00        D127106         AE21    NaN  deportivas       NaN
1  9536966         Varios Juegos en CDE         125        MOSCARDO          12.0                  USERA  OPERATIVO   440120.720  4471484.010        ETRS89  40.391804 -3.705540      NaN     NaN     NaN     28026.0                   C/TORERO  11084099.0           31/01/2024        D127102         AE21    NaN  deportivas       NaN
2  9536965         Varios Juegos en CDE         125        MOSCARDO          12.0                  úsérá  OPERATIVO   440122.796  4471479.925        ETRS89  40.391767 -3.705515      NaN     NaN     NaN     28026.0                   C/TORERO  11084099.0           2024/01/31        D127101         AE21    NaN  deportivas       NaN
3  9535131      Barras paralelas en CDE         116      búénávístá          11.0            CARABANCHEL  OPERATIVO   436239.954  4468572.408        ETRS89  40.365287 -3.750971      NaN     NaN     NaN     28054.0       C/BLANCA CV C/DINERO  31069202.0           09-15-2023        D117105         AE21    NaN  deportivas       NaN
4  9535128        Multiejercicio en CDE         116      BÚENAVÍSTÁ          11.0            CARABANCHEL  OPERATIVO   436234.994  4468565.132        ETRS89  40.365221 -3.751028      NaN     NaN     NaN     28054.0       C/BLANCA CV C/DINERO  31069202.0     fecha_incorrecta        D117102         AE21    NaN  deportivas       NaN
5  9535127  Banco de abdominales en CDE         116      BUENAVISTA          11.0            CÁRABÁNCHÉL  OPERATIVO   436241.807  4468566.587        ETRS89  40.365235 -3.750948      NaN     NaN     NaN     28054.0       C/BLANCA CV C/DINERO  31069202.0           09-15-2023        D117101         AE21    NaN  deportivas       NaN
6  9494201         Varios Juegos en CDE          65   VALDEACEDERAS           6.0                 tetuan  OPERATIVO   439936.890  4479630.206        ETRS89  40.465175 -3.708475      NaN     NaN     NaN     28039.0  PASEO DE LA DIRECCIÓN 215  31028286.0     fecha_incorrecta        D065803         AE21    NaN  deportivas       NaN
7  9493030  Banco de abdominales en CDE          54  HISPANOAMERICA           5.0              CHÁMARTIN  OPERATIVO   442788.959  4478566.027        ETRS89  40.455790 -3.674740      NaN     NaN     NaN     28016.0             PUERTO RICO 27  11025193.0     fecha_incorrecta        D050712         AE21    NaN  deportivas       NaN
8  9493021         Varios Juegos en CDE          54  híspánóámérícá           5.0              CHAMÁRTÍN  OPERATIVO   442778.376  4478564.042        ETRS89  40.455771 -3.674865      NaN     NaN     NaN     28016.0             PUERTO RICO 27  11025193.0  2024-03-07 00:00:00        D050706         AE21    NaN  deportivas       NaN
9  9492867         Varios Juegos en CDE          86        VALVERDE           8.0  fúencarral - él pardo  OPERATIVO   441924.663  4481670.475        ETRS89  40.483696 -3.685217      NaN     NaN     NaN     28034.0           PARQUE DE BEGOÑA  11047058.0           04/04/2024        D085508         AE21    NaN  deportivas       NaN


   ----------    10 filas aleatorias    ----------


            ID                     DESC_CLASIFICACION  COD_BARRIO         BARRIO  COD_DISTRITO               DISTRITO     ESTADO  COORD_GIS_X  COORD_GIS_Y SISTEMA_COORD    LATITUD  LONGITUD TIPO_VIA                          NOM_VIA NUM_VIA  COD_POSTAL                                      DIRECCION_AUX         NDP FECHA_INSTALACION CODIGO_INTERNO CONTRATO_COD                           MODELO  tipo_juego ACCESIBLE
7542   9278048              Balancín en Área Infantil          36     niño jesus           3.0                 RETÍRO  OPERATIVO   443027.844  4473421.953        ETRS89  40.409466 -3.671462      NaN                              NaN     NaN     28007.0                                 JESUS APRENDIZ, 19  11013344.0          09/03/22        0301410         AE21                              NaN  infantiles       NaN
1518   3756734              Barra defFlexiones en CDE          52    PROSPERIDAD           5.0              CHÁMÁRTIN  OPERATIVO   443654.050  4478165.830        ETRS89  40.452244 -3.664502      NaN                              NaN     NaN     28002.0                PARQUE FELIX RODRIGUEZ DE LA FUENTE  31041818.0  fecha_incorrecta        D050105         AE21               BARRA DE DOMINADAS  deportivas       NaN
517    7928055            Banco de abdominales en CDE         182  SANTA EUGENIA          18.0      VÍLLA DÉ VALLECÁS  OPERATIVO   448302.285  4470297.504        ETRS89  40.381663 -3.609048      NaN                              NaN     NaN     28031.0                                     SANTA EGUGENIA  11131614.0  fecha_incorrecta        D186303         AE21                              NaN  deportivas       NaN
11915  5240964              Columpio en Área Infantil         143     márróqúíná          14.0              moratalaz  OPERATIVO   446200.470  4473751.450        ETRS89  40.412645 -3.634100  AVENIDA  Avenida del Doctor Garcia Tapia     125     28030.0                                                NaN         NaN               NaN            NaN            6  COL-2 COLUMPIO 2 ASIENTOS CESTA  infantiles        NO
6660   9225690            Multijuego en Área Infantil         122        ORCASUR          12.0                  usera  OPERATIVO   440924.357  4468874.106        ETRS89  40.368350 -3.695829      NaN                              NaN     NaN     28041.0                                      CALLE PINSAPO  20089216.0          11/11/22        1211607         AE21                              NaN  infantiles       NaN
5429   5003359      Varios Juegos en Áreas Infantiles         172  sán crístóbál          17.0             víllávérdé  OPERATIVO   441438.052  4466431.985        ETRS89  40.346386 -3.689555      NaN                              NaN     NaN     28021.0                               ESTRONCIO, 000015  A  11127564.0        11-02-2018        C177605         AE21                              NaN  infantiles       NaN
810    7741935                   Varios Juegos en CDE         152   pueblo nuevo          15.0          CIUDAD LINEAL  OPERATIVO   445340.560  4475268.460        ETRS89  40.426256 -3.644365    CALLE                          ARRIAGA      27     28017.0                                                NaN  11106708.0        2021/02/10        D155303         AE21                              NaN  deportivas       NaN
5217     22381  Tobogan Autoportante en Área Infantil         164  PINAR DEL REY          16.0              HÓRTÁLEZA  OPERATIVO   445732.229  4480610.460        ETRS89  40.474405 -3.640204      NaN                              NaN     NaN     28033.0   C · CALLE YARUMAL 6 , ASCENDIENTE 1: 164 · PINAR  11119244.0  fecha_incorrecta        1601606         AE21                  1036 · ELEFANTE  infantiles       NaN
695    7861113                   Varios Juegos en CDE         205          rosas          20.0  san blas - canillejas  OPERATIVO   449299.140  4475811.610        ETRS89  40.431399 -3.597744  AVENIDA                       ARCENTALES      57     28022.0                                                NaN  31042641.0  fecha_incorrecta        C208408         AE21                              NaN  deportivas       NaN
11025    33676            Multijuego en Área Infantil         152   PUEBLO NUEVO          15.0          CIUDAD LINEAL  OPERATIVO   445533.744  4475152.119        ETRS89  40.425220 -3.642078      NaN                              NaN     NaN     28017.0  Pq · PARQUE ARRIAGA , ASCENDIENTE 1: 152 · PUEBLO  11106777.0        01-01-2004        1505904         AE21                              NaN  infantiles       NaN


   ----------    10 últimas filas    ----------


            ID                       DESC_CLASIFICACION  COD_BARRIO                BARRIO  COD_DISTRITO               DISTRITO     ESTADO  COORD_GIS_X  COORD_GIS_Y SISTEMA_COORD    LATITUD  LONGITUD TIPO_VIA NOM_VIA NUM_VIA  COD_POSTAL                                             DIRECCION_AUX         NDP    FECHA_INSTALACION CODIGO_INTERNO CONTRATO_COD                   MODELO  tipo_juego ACCESIBLE
14563  9495213   Ejercicio de dedos en Áreas de Mayores          73             TRAFALGAR           7.0               chámbérí  OPERATIVO   440515.694  4476056.970        ETRS89  40.433028 -3.701314      NaN     NaN     NaN     28010.0         Pza · PLAZA OLAVIDE 3 , ASCENDIENTE 1: 073 · TRAF  20013816.0     fecha_incorrecta        M070109         AE21                      NaN     mayores       NaN
14564  9470459  Ejercicio de brazos en Áreas de Mayores          82        FÚENTÉLÁRREINÁ           8.0  FUENCARRAL - EL PARDO  OPERATIVO   437715.633  4481971.263        ETRS89  40.486101 -3.734904      NaN     NaN     NaN     28049.0  CALLE LILI ALVAREZ CON CALLE MADRE TERESA DE CALCUTA      31054537.0             11/03/24        M082608         AE21                      NaN     mayores       NaN
14565  9470318   Ejercicio de dedos en Áreas de Mayores          82        FUENTELARREINA           8.0  FUÉNCARRAL - EL PARDÓ  OPERATIVO   437721.322  4481978.804        ETRS89  40.486169 -3.734838      NaN     NaN     NaN     28049.0  CALLE LILI ALVAREZ CON CALLE MADRE TERESA DE CALCUTA      31054537.0           2024/03/11        M082604         AE21                      NaN     mayores       NaN
14566  9446475  Ejercicio de brazos en Áreas de Mayores          84                 PILAR           8.0  fúéncárrál - él párdó  OPERATIVO   439693.281  4481281.137        ETRS89  40.480030 -3.711505      NaN     NaN     NaN     28029.0                                    PASEO DE LA VAGUADA 11  20095215.0     fecha_incorrecta        M082509         AE21                      NaN     mayores       NaN
14567  9470451        Banco pedales en Áreas de Mayores          82        FUÉNTÉLARRÉINA           8.0  FUENCARRAL - EL PARDO  OPERATIVO   437720.264  4481969.411        ETRS89  40.486084 -3.734849      NaN     NaN     NaN     28049.0  CALLE LILI ALVAREZ CON CALLE MADRE TERESA DE CALCUTA      31054537.0           2024/03/11        M082607         AE21                      NaN     mayores       NaN
14568  7537977  Ejercicio de brazos en Áreas de Mayores         121             orcasitas          12.0                  USERA  OPERATIVO   439875.323  4468729.374        ETRS89  40.366971 -3.708171      NaN     NaN     NaN     28041.0                      CALLE DE RONDA DE LAS COOPERATIVAS 6  31024108.0           12-28-2020        M121810         AE21           RECORRIDO OCHO     mayores       NaN
14569  8976366                     Varios Juegos en CDE         183  ensanche de vallecas          18.0      villa de vallecas  OPERATIVO   449288.296  4468370.527        ETRS89  40.364364 -3.597279      NaN     NaN     NaN     28051.0                                    C MARIA TERESA DE LEON  31036623.0           13/10/2022        C187704         AE21                      NaN  deportivas       NaN
14570    19880  Ejercicio de brazos en Áreas de Mayores          26  palos de la frontera           2.0             ARGANZUELA  OPERATIVO   440965.880  4472623.250        ETRS89  40.402127 -3.695688      NaN     NaN     NaN     28045.0             CALLE CANARIAS 24 , ASCENDIENTE 1: 026 · PALO  11010068.0           01/01/2004        M020101         AE21  0678 · RUEDA DE HOMBRRO     mayores       NaN
14571  9493016              Multijuego en Área Infantil         136              númáncíá          13.0     PUENTE DE VALLECAS  OPERATIVO   444248.246  4472164.895        ETRS89  40.398224 -3.656969      NaN     NaN     NaN     28038.0                            SIERRA DE CUERDA LARGA, 000055  11099368.0  2024-03-13 00:00:00        1314414         AE21                      NaN  infantiles       NaN
14572    59582                Balancín en Área Infantil         133       pálomerás bajas          13.0     púénté dé vállécás  OPERATIVO   444502.884  4469839.653        ETRS89  40.377294 -3.653766      NaN     NaN     NaN     28018.0                                         NOVECENTO, 000006  20080208.0     fecha_incorrecta        1313807         AE21                    AVION  infantiles       NaN

## 1.5 Revisión de valores nulos
Como ya se ha visto en el anterior apartado (info), podemos observar los valores nulos de esa forma. Pero se puede observar de una forma más visual en esta sección y, además, hay que tener en cuenta valores como el cero que también pueden considerarse nulos.

In [5]:
# Para poder saber el número de valores faltantes
print("    ----------    Valores faltantes    ----------    ")
print("\n")
print(df.isnull().sum())
print("\n")

# Para poder saber el número de ceros en cada columna
print("    ----------    Valores cero    ----------    ")
print("\n")
print((df == 0).sum())

    ----------    Valores faltantes    ----------


ID                        0
DESC_CLASIFICACION        0
COD_BARRIO                0
BARRIO                    0
COD_DISTRITO             10
DISTRITO                 10
ESTADO                    0
COORD_GIS_X               1
COORD_GIS_Y               1
SISTEMA_COORD             0
LATITUD                   0
LONGITUD                  0
TIPO_VIA              12613
NOM_VIA               12614
NUM_VIA               12611
COD_POSTAL              299
DIRECCION_AUX          2760
NDP                    1180
FECHA_INSTALACION       698
CODIGO_INTERNO          706
CONTRATO_COD              0
MODELO                 6473
tipo_juego                0
ACCESIBLE             12384
dtype: int64


    ----------    Valores cero    ----------


ID                      0
DESC_CLASIFICACION      0
COD_BARRIO              0
BARRIO                  0
COD_DISTRITO            0
DISTRITO                0
ESTADO                  0
COORD_GIS_X             0
COORD_GIS_Y             0
SISTEMA_COORD           0
LATITUD                 1
LONGITUD                1
TIPO_VIA                0
NOM_VIA                 0
NUM_VIA                 0
COD_POSTAL            110
DIRECCION_AUX           0
NDP                     0
FECHA_INSTALACION       0
CODIGO_INTERNO          0
CONTRATO_COD            0
MODELO                  0
tipo_juego              0
ACCESIBLE               0
dtype: int64

No existen valores nulos en este dataset, por lo que no se hará una limpieza de nulos

## 1.6 Identificación de fechas no estandarizadas
Se deben identificar las fechas que no se encuentran en el formato adecuado para MongoDB (DD/MM/YYYY)

In [68]:
# Vamos a mostrar algunas fechas para poder observar en qué formato están
print("   ----------    Fechas    ----------    ")
print("\n")
print(df['FECHA_REPORTE'].sample(20))

   ----------    Fechas    ----------


16615    2024-10-04
15503    2024/09/19
9663     06-04-2024
10234    08-09-2024
9823     02-21-2024
16560    04-16-2024
10158    2024-04-30
4953     28-01-2024
4294     02/01/2024
12459    14/07/2024
4554     02-21-2024
6221     18/11/2023
11768    2024/08/08
1362     11-01-2024
9543     2024/08/20
4575     2024-02-23
7518     10-21-2023
4187     2023/11/05
8780     19/03/2024
15235    08/08/2024
Name: FECHA_REPORTE, dtype: object

Como se puede apreciar, las fechas se encuentran en diversos formatos que deben ser homogeneizados

## 1.7 Identificación de registros duplicados
Debemos validar que no existen filas iguales que ensucien el dataset, sobre todo estando pendiente de duplicaciones de la clave primaria

In [69]:
# Ver las filas duplicadas
print("   ----------    Filas duplicadas    ----------    ")
print("\n")
print(df[df.duplicated()])
print("\n")
# Número de filas duplicadas
print("Número de filas duplicadas: ", df.duplicated().sum())
print("\n")

# Filtrar filas que tienen el mismo NIF
duplicados = df.groupby('ID').filter(lambda x: len(x) > 1)

# Ordenar por NIF para que las filas con el mismo NIF se visualicen una encima de la otra
duplicados = duplicados.sort_values(by='ID')

# Mostrar las filas con la misma PK
print("   ----------    Filas con el mismo ID    ----------    ")
print("\n")
print(duplicados)
print("\n")
print("Número de filas con el mismo ID: ", duplicados.shape[0])

   ----------    Filas duplicadas    ----------


          ID TIPO_INCIDENCIA FECHA_REPORTE   ESTADO        UsuarioID MantenimeintoID
17630  12633      Vandalismo    02/12/2023  Cerrada  ['903-64-1048']   ['MNT-11152']


Número de filas duplicadas:  1


   ----------    Filas con el mismo ID    ----------


          ID TIPO_INCIDENCIA FECHA_REPORTE   ESTADO                                      UsuarioID                          MantenimeintoID
430      431          Rotura    08-14-2024  Cerrada  ['122-92-6750', '293-31-6681', '599-62-2214']                            ['MNT-03964']
17628    431          Rotura    14/08/2024  Cerrada  ['122-92-6750', '293-31-6681', '599-62-2214']                            ['MNT-03964']
9947    9948        Desgaste    03-04-2024  Cerrada                                ['722-68-2700']                            ['MNT-14428']
17631   9948        Desgaste    04-03-2024  Cerrada                                ['722-68-2700']                            ['MNT-14428']
17630  12633      Vandalismo    02/12/2023  Cerrada                                ['903-64-1048']                            ['MNT-11152']
12632  12633      Vandalismo    02/12/2023  Cerrada                                ['903-64-1048']                            ['MNT-11152']
17632  13653        Desgaste    04-12-2024  Cerrada                                ['992-49-1408']                            ['MNT-13712']
13652  13653        Desgaste    12/04/2024  Cerrada                                ['992-49-1408']                            ['MNT-13712']
17629  13905        Desgaste    09-08-2024  Cerrada                                ['853-84-5034']  ['MNT-04576', 'MNT-10566', 'MNT-11723']
13904  13905        Desgaste    2024/08/09  Cerrada                                ['853-84-5034']  ['MNT-04576', 'MNT-10566', 'MNT-11723']


Número de filas con el mismo ID:  10

Existen filas iguales que solo difieren en el formato de la fecha, por lo que se pueden considerar filas iguales que deberán ser eliminadas, ya que no aportan información adicional y solo ensucian el dataset

## 1.8 Búsqueda de errores tipográficos
Hay ciertos atributos de texto que pueden contar con determinados errores tipográficos que deben ser solucionados, como los nombres de áreas, juegos, usuarios y ubicaciones

En este dataset no encontramos ningún atributo similar, por lo que este paso no se realizará

## 1.9 Identificación de valores enum fuera de campo
Hay ciertos atributos que solo deben poseer ciertos valores (como Operativo-NoOperativo). Hace falta identificar aquellos valores de ese campo fuera de la norma

In [70]:
# Muestra todos los valores distintos de la columna 'TIPO_INCIDENCIA'
print("   ----------    Valores distintos de la columna 'TIPO:INCIDENCIA'    ----------    ")
print("\n")
print(df['TIPO_INCIDENCIA'].unique())
print("\n")

# Muestra todos los valores distintos de la columna 'ESTADO'
print("   ----------    Valores distintos de la columna 'ESTADO'    ----------    ")
print("\n")
print(df['ESTADO'].unique())

   ----------    Valores distintos de la columna 'TIPO:INCIDENCIA'    ----------


['Desgaste' 'Rotura' 'Vandalismo' 'Mal funcionamiento']


   ----------    Valores distintos de la columna 'ESTADO'    ----------


['Cerrada' 'Abierta']

Todos los Enums poseen valores acordes con lo esperado, por lo que no se va a realizar una limpieza de ellos.

## 1.10 Validación de las coordenadas y otros campos geoespaciales
Hay algunas veces en las que los códigos postales no respetan la identificación de Madrid (280..) o el formato, ya sean códigos postales u otros atributos de geolocalización

En este dataset no encontramos valores de localización, por lo que este paso no se realizará

## 1.11 Identificación de unidades de medida en un formato no estandarizado
Se deben identificar las filas que no posean un formato estándar

En este dataset no encontramos valores de unidades de medida, por lo que este paso no se realizará

## 1.12 Otros atributos a corregir
En esta sección se mencionarán aquellos atributos que también deban ser limpiados por errores

### 1.12.1 Búsqueda de IDs

In [71]:
# Vamos a mostrar 10 IDs para ver cómo se encuentran
print("   ----------    IDs    ----------    ")
print("\n")
print(df['ID'].sample(10))

   ----------    IDs    ----------


4451      4452
2816      2817
14954    14955
13827    13828
1340      1341
7977      7978
13084    13085
7611      7612
17027    17028
7205      7206
Name: ID, dtype: int64

Vamos a validar que los IDs son números enteros

In [72]:
# Validar que todos los valores de ID sean enteros
print("   ----------    Validación de ID    ----------    ")
print("\n")
print(df['ID'].apply(lambda x: x.is_integer()).all())

   ----------    Validación de ID    ----------


True

Por ende, todos los IDs son válidos y no se deberán limpiar

### 1.12.2 Validar todos los valores de la columna UsuarioID y MantenimientoID
Hay que comprobar que todos los valores de estos campos siguen el formato de los ID de usuarios (XXX-XX-XXXX) sacado de Usuarios y de los IDs de mantenimiento, sacados de Mantenimiento

In [73]:
# Extraemos todos los valores del campo de 'UsuarioID' a una lista
# Como todos están en formato string aunque parezcan listas, solo debemos eliminar los corchetes y las comillas y comas para colocarlo en una lista
usuarios = df['UsuarioID'].tolist()
usuarios = [x.replace('[', '').replace(']', '').replace(', ', '|').replace("'", '') for x in usuarios]
valido = True
for elem in usuarios:
    # Si el elemento posee un | hacer un split del |:
    if '|' in elem:
        lista = elem.split('|')
        for e in lista:
            # Si el elemento no tiene el formato "XXX-XX-XXXX", siendo X un número, entonces devuelve False
            if not e[0:3].isdigit() or not e[4:6].isdigit() or not e[7:].isdigit(): 
                valido = False
    else:
        if not e[0:3].isdigit() or not e[4:6].isdigit() or not e[7:].isdigit():
            valido = False
print("Todos los valores son IDs válidos de Usuarios: ", valido)

# Extraemos todos los valores del campo de 'MantenimientoID' a una lista
# Como todos están en formato string aunque parezcan listas, solo debemos eliminar los corchetes y las comillas y comas para colocarlo en una lista
mantenimiento = df['MantenimeintoID'].tolist()
mantenimiento = [x.replace('[', '').replace(']', '').replace(', ', '|').replace("'", '') for x in mantenimiento]
valido = True
for elem in mantenimiento:
    # Si el elemento posee un | hacer un split del |:
    if '|' in elem:
        lista = elem.split('|')
        for e in lista:
            # Si el elemento no tiene el formato "MNT-XXXXX", siendo X un número, entonces devuelve False
            if not e[0:4] == 'MNT-' or not e[4:].isdigit():
                valido = False
    else:
        if not elem[0:4] == 'MNT-' or not elem[4:].isdigit():
            print(elem)
            print(elem[0:4])
            print(elem[4:])
            valido = False
print("Todos los valores son IDs válidos de Mantenimiento: ", valido)

Todos los valores son IDs válidos de Usuarios:  True
Todos los valores son IDs válidos de Mantenimiento:  True

Gracias al script anterior se puede observar como todos los IDs son válidos, tanto de mantenimiento como de usuario

### 1.12.3 Consideraciones extras de Fechas
Cabe recalcar que si el campo de fechas no posee un formato esperado, las funciones de limpieza darán error, por lo que no hace falta hacer ahora las comprobaciones de sus valores para determinar si son correctos.

### 1.12.4 Cambio de nombre columna de "MantenimeintoID" a "MantenimientoID"
Esa columna posee una errata en su nombre que debe ser solucionada

In [74]:
# Cambiar nombre de la columna "MantenimeintoID" a "MantenimientoID"
df.rename(columns={'MantenimeintoID': 'MantenimientoID'}, inplace=True)

# Mostramos el resultado del cambio con una muestra de 1 fila
print(df.sample(1))

        ID     TIPO_INCIDENCIA FECHA_REPORTE   ESTADO        UsuarioID             MantenimientoID
2605  2606  Mal funcionamiento    12-03-2023  Abierta  ['721-49-2694']  ['MNT-02011', 'MNT-14469']

Como se puede observar, el nombre de la columna ha cambiado

# 2. Limpieza de los datasets
En este apartado se realizará la limpieza según la información obtenida en el análisis exploratorio de datos:
- Se deben eliminar las filas repetidas que no aportan más información
- Se deben corregir las fechas y dejarlas en un formato estándar

## 2.1 Limpieza de filas repetidas

Debemos eliminar las filas repetidas que no aportan información nueva. Para ello se va a eliminar una de las dos repetidas indistintivamente, ya que solo varían en el formato de la fecha, el resto de datos son iguales (incluso la fecha, solo que se encuentra en distinto formato y por eso Pandas lo reconoce como distinta)

In [75]:
# Filtrar filas que tienen el mismo NIF
duplicados = df.groupby('ID').filter(lambda x: len(x) > 1)

# Ordenar por NIF para que las filas con el mismo NIF se visualicen una encima de la otra
duplicados = duplicados.sort_values(by='ID')

# Mostrar las filas con la misma PK
print("   ----------    Filas con el mismo ID    ----------    ")
print("\n")
print(duplicados)
print("\n")
print("Número de filas con el mismo ID: ", duplicados.shape[0])
print("\n")

# Limpiamos una de las dos filas con el mismo ID de duplicados
df.drop_duplicates(subset='ID', keep='first', inplace=True)

# Mostramos el resultado por pantalla
print("   ----------    Filas con el mismo ID después de limpiar    ----------    ")
print("\n")
print(df[df.duplicated()])
print("\n")
# Número de filas duplicadas
print("Número de filas duplicadas: ", df.duplicated().sum())
print("\n")

# Mostramos, para comprobar, 2 filas de las que antes estaban duplicadas
print("   ----------    2 filas de las que antes estaban duplicadas    ----------    ")
print("\n")
print(df.loc[df['ID'] == 431])
print(df.loc[df['ID'] == 9948])
print("\n")

# Mostramos el intento de acceder a una fila eliminada
print("   ----------    Intento de acceder a una fila eliminada    ----------    ")
print("\n")
# Accedemos a la fila con ID 431 y FECHA_REPORTE 14/08/2024
print(df.loc[(df['ID'] == 431) & (df['FECHA_REPORTE'] == '14/08/2024')])

   ----------    Filas con el mismo ID    ----------


          ID TIPO_INCIDENCIA FECHA_REPORTE   ESTADO                                      UsuarioID                          MantenimientoID
430      431          Rotura    08-14-2024  Cerrada  ['122-92-6750', '293-31-6681', '599-62-2214']                            ['MNT-03964']
17628    431          Rotura    14/08/2024  Cerrada  ['122-92-6750', '293-31-6681', '599-62-2214']                            ['MNT-03964']
9947    9948        Desgaste    03-04-2024  Cerrada                                ['722-68-2700']                            ['MNT-14428']
17631   9948        Desgaste    04-03-2024  Cerrada                                ['722-68-2700']                            ['MNT-14428']
17630  12633      Vandalismo    02/12/2023  Cerrada                                ['903-64-1048']                            ['MNT-11152']
12632  12633      Vandalismo    02/12/2023  Cerrada                                ['903-64-1048']                            ['MNT-11152']
17632  13653        Desgaste    04-12-2024  Cerrada                                ['992-49-1408']                            ['MNT-13712']
13652  13653        Desgaste    12/04/2024  Cerrada                                ['992-49-1408']                            ['MNT-13712']
17629  13905        Desgaste    09-08-2024  Cerrada                                ['853-84-5034']  ['MNT-04576', 'MNT-10566', 'MNT-11723']
13904  13905        Desgaste    2024/08/09  Cerrada                                ['853-84-5034']  ['MNT-04576', 'MNT-10566', 'MNT-11723']


Número de filas con el mismo ID:  10


   ----------    Filas con el mismo ID después de limpiar    ----------


Empty DataFrame
Columns: [ID, TIPO_INCIDENCIA, FECHA_REPORTE, ESTADO, UsuarioID, MantenimientoID]
Index: []


Número de filas duplicadas:  0


   ----------    2 filas de las que antes estaban duplicadas    ----------


      ID TIPO_INCIDENCIA FECHA_REPORTE   ESTADO                                      UsuarioID MantenimientoID
430  431          Rotura    08-14-2024  Cerrada  ['122-92-6750', '293-31-6681', '599-62-2214']   ['MNT-03964']
        ID TIPO_INCIDENCIA FECHA_REPORTE   ESTADO        UsuarioID MantenimientoID
9947  9948        Desgaste    03-04-2024  Cerrada  ['722-68-2700']   ['MNT-14428']


   ----------    Intento de acceder a una fila eliminada    ----------


Empty DataFrame
Columns: [ID, TIPO_INCIDENCIA, FECHA_REPORTE, ESTADO, UsuarioID, MantenimientoID]
Index: []

Se puede apreciar que ya no hay filas duplicadas y que, si intentamos acceder a una fila de las repetidas y eliminadas, no podemos

## 2.2 Limpieza de FECHA_REPORTE

Debemos dejar las fechas en un formato estándar lejible por MongoDB, como 'DD/MM/YYYY'

In [76]:
# Leemos toda la columna de fechas y almacenamos todas las fechas en una lista
fechas = df['FECHA_REPORTE'].tolist()

# Ahora, pasamos por todas las fechas y corregimos las fechas que están mal escritas
fechas_corregidas = []
año_al_final = False

for fecha in fechas:
    # Si fecha contiene un guion, hacer fecha.split('-') y si fecha contiene una barra, hacer fecha.split('/')
    if '-' in fecha:
        fecha_split = fecha.split('-')
    elif '/' in fecha:
        fecha_split = fecha.split('/')
    # Condiciones para saber el día, mes y año
    # Encontrar el año
    if (int(fecha_split[0])>31):
        año = fecha_split[0]
        año_al_final = False
    elif (int(fecha_split[2])>31):
        año = fecha_split[2]
        año_al_final = True
    else:
        print("No se ha encontrado el año")
        fechas_corregidas.append("fecha incorrecta")
        break
    # Encontrar el día y el mes
    # Si el año está al final, no comprobamos el primer caracter
    if año_al_final:
        if (int(fecha_split[0])<32 and int(fecha_split[0])>12):
            dia = fecha_split[0]
            mes = fecha_split[1]
        elif (int(fecha_split[1])<32 and int(fecha_split[1])>12):
            dia = fecha_split[1]
            mes = fecha_split[0]
        # Si no hay ningun número entre el 13 y el 31, se asume que el mes es el segundo siempre y el día es el primero
        else:
            dia = fecha_split[0]
            mes = fecha_split[1]
    else:
        if (int(fecha_split[1])<32 and int(fecha_split[1])>12):
            dia = fecha_split[1]
            mes = fecha_split[2]
        elif (int(fecha_split[2])<32 and int(fecha_split[2])>12):
            dia = fecha_split[2]
            mes = fecha_split[1]
        # Si no hay ningun número entre el 13 y el 31, se asume que el mes es el segundo siempre y el día es el tercero
        else:
            dia = fecha_split[2]
            mes = fecha_split[1]
    fechas_corregidas.append(dia+"/"+mes+"/"+año)
    
# Ahora, cambiamos toda la columna de FECHAS_INTERVENCION por las fechas corregidas
df['FECHA_REPORTE'] = fechas_corregidas

# Mostramos las fechas corregidas
print("   ----------    Columna de fechas corregidas    ----------    ")
print("\n")
print(df['FECHA_REPORTE'].sample(20))

   ----------    Columna de fechas corregidas    ----------


14930    11/06/2024
8584     01/03/2024
5553     12/08/2024
16877    05/05/2024
2369     17/10/2023
15694    27/06/2024
814      26/05/2024
10010    29/10/2023
9381     09/01/2024
3920     22/03/2024
9920     11/05/2024
1378     14/09/2024
2680     21/04/2024
8058     20/01/2024
10514    15/02/2024
3355     03/07/2024
11096    07/02/2024
11611    27/01/2024
16780    13/09/2024
15260    24/06/2024
Name: FECHA_REPORTE, dtype: object

Como se puede apreciar, las fechas ya están estandarizadas

## 2.4 Mostrar Dataset Limpio y guardar CSV
Vamos a mostrar algunas filas del dataset limpio para validar que todo está OK y guardamos el Dataset

In [77]:
# Enseñamos 20 filas aleatorias para ver cómo quedan
print("   ----------    10 filas aleatorias    ----------    ")
print("\n")
print(df.sample(10))
print("\n")

# Guardamos el dataset limpio
df.to_csv('../MantenimientoLimpio.csv', index=False)
print("\n")
print("Dataset limpio guardado")

   ----------    10 filas aleatorias    ----------


          ID     TIPO_INCIDENCIA FECHA_REPORTE   ESTADO                                      UsuarioID                                       MantenimientoID
3947    3948            Desgaste    29/06/2024  Cerrada  ['134-29-4351', '396-23-3416', '854-77-1271']                                         ['MNT-01847']
16770  16771              Rotura    18/04/2024  Cerrada                                ['041-84-6414']                                         ['MNT-02968']
14202  14203          Vandalismo    30/07/2024  Cerrada                                ['790-67-9089']  ['MNT-01311', 'MNT-05562', 'MNT-08793', 'MNT-10815']
8526    8527  Mal funcionamiento    23/02/2024  Cerrada                                ['177-75-6218']                                         ['MNT-11555']
7335    7336  Mal funcionamiento    10/01/2024  Cerrada                                ['711-74-3953']                                         ['MNT-14227']
16977  16978              Rotura    02/06/2024  Cerrada                                ['129-45-3473']                                         ['MNT-01252']
5932    5933  Mal funcionamiento    07/10/2024  Cerrada                                ['639-33-9887']                            ['MNT-01232', 'MNT-07073']
6223    6224              Rotura    16/05/2024  Abierta                                ['520-11-0227']                                         ['MNT-11266']
1713    1714            Desgaste    04/05/2024  Cerrada  ['531-25-7483', '115-69-4323', '312-36-8819']                                         ['MNT-07104']
9461    9462            Desgaste    22/12/2023  Cerrada                                ['496-15-0226']                                         ['MNT-14492']




Dataset limpio guardado