# 1. EDA
En este apartado se pretende analizar los datasets para poder enfocar mejor la limpieza

## 1.1 Importación y carga de datos
Debemos declarar las librerías que usamos y leer el correspondiente archivo de datos

In [15]:
# Importación de librerías
import pandas as pd

# Lectura dataset
df = pd.read_csv('../UsuariosSucio.csv')

## 1.2 Configuración de Pandas
Para poder leer bien los resultados de las ejecuciones, vamos a configurar tanto el número máximo de columnas como el número máximo de filas

In [16]:
# Número máximo de filas a mostrar
pd.set_option('display.max_rows', None)

# Número máximo de columnas a mostrar
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', 2000)

## 1.3 Descripción general del dataset
Para poder conocer ciertas características relevantes del dataset, como el número de instancias (filas) y características (columnas) procederemos a usar diferentes funciones de Pandas

In [17]:
# Descripción de parámetros generales -> count, mean, std, min, 25%, 50%, 75%, max
print(df.describe())

# Número de filas y columnas del dataset
print("\n")
print("Número de filas: ", df.shape[0])
print("Número de columnas: ", df.shape[1])
print("\n")

# Para saber el tipo de variable de cada columna
print(df.info())

       Email
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN


Número de filas:  15040
Número de columnas:  5


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15040 entries, 0 to 15039
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NIF       15040 non-null  object
 1   NOMBRE    15040 non-null  object
 2   EMAIL     15020 non-null  object
 3   TELEFONO  15040 non-null  object
 4   Email     0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 587.6+ KB
None

## 1.4 Observación inicial del dataset
Vamos a mostrar 30 entradas para poder observar cómo es realmente por dentro el dataset

In [18]:
# Mostramos las 10 primeras filas, 10 filas aleatorias y las 10 últimas
print("   ----------    10 primeras filas    ----------    ")
print("\n")
print(df.head(10))
print("\n")
print("   ----------    10 filas aleatorias    ----------    ")
print("\n")
print(df.sample(10))
print("\n")
print("   ----------    10 últimas filas    ----------    ")
print("\n")
print(df.tail(10))

   ----------    10 primeras filas    ----------


           NIF                        NOMBRE                          EMAIL          TELEFONO  Email
0  674-03-7053             RITA NEBOT BUSTOS      luis-miguelpujol@verdu.es    +34714 556 402    NaN
1  695-98-2439           MARCIAL PIQUER GOÑI          violeta60@hotmail.com    +34874 258 581    NaN
2  978-00-2364        Teodora Leiva Vilanova               yribas@yahoo.com   +34 898 334 794    NaN
3  179-63-9808  Reina Elvira Dominguez Belda      nuriaabellan@castejon.com   +34720 12 61 81    NaN
4  903-84-1885            ETELVINA VEGA SALA  bescudero@pallares-jimenez.es   +34742 59 59 03    NaN
5  911-11-1566        PANCHO ROSSELLÓ GASCÓN           gacevedo@hotmail.com   +34 714 742 113    NaN
6  871-29-5756           Jose Dalmau Español     pelayoflorencio@artigas.es  +34 702 26 10 37    NaN
7  647-92-1126         OLEGARIO OLIVERAS REY          celestina59@gmail.com   +34745 57 02 83    NaN
8  213-87-6036            Gregorio del Soler          arandajulie@gmail.com   +34708 09 53 12    NaN
9  524-89-4873       Eleuterio Giner Huertas             teofila31@badia.es  +34 864 99 88 32    NaN


   ----------    10 filas aleatorias    ----------


               NIF                          NOMBRE                           EMAIL          TELEFONO  Email
6942   140-87-0825  ISAURA ESTRELLA ALEMANY MÉNDEZ          aroamenendez@yahoo.com   +34 739 251 381    NaN
10265  959-35-8229            AMARILIS BRAVO BRAVO                 fmata@yahoo.com     +34 656713479    NaN
9116   420-46-0522              Hortensia de Costa                zhervia@amaya.es   +34727 27 01 92    NaN
7036   105-77-5465  Melania Ascensión Luján Torres             nmacias@ramirez.com  +34 745 82 85 83    NaN
8448   726-55-1483              AGAPITO RODA CUETO         dalmaulaura@hotmail.com   +34721 57 43 17    NaN
4566   333-32-4918                    EMMA CÁNOVAS          ortegaimelda@gomez.com      +34700803133    NaN
13786  192-20-2080           Custodio Heredia Sanz  fortunato88@rodriguez-moles.es     +34 714478840    NaN
6046   893-80-0824                 Ángel Ferrández          pereramartin@gmail.com   +34 700 919 876    NaN
10181  245-83-2661       AZAHAR CAÑIZARES GRANADOS              silvia44@gmail.com     +34 717227883    NaN
11024  824-64-5274       CARINA TENORIO TORRECILLA              sosimo37@yahoo.com   +34 808 266 575    NaN


   ----------    10 últimas filas    ----------


               NIF                              NOMBRE                                 EMAIL     TELEFONO  Email
15030  974-78-3709             EFRAÍN MARISCAL BELTRAN                dup_zcases@hotmail.com  34658720406    NaN
15031  917-44-6828                Teresa Pinedo Blanca            dup_rosenda77@llorente.com  34916052769    NaN
15032  267-97-3188               Jordán Domínguez Luna  dup_ernestoamigo@osorio-torralba.com  34722551376    NaN
15033  360-19-6674               Malena Pineda Pedrero                  dup_egallo@gmail.com  34952928398    NaN
15034  944-48-0443         ALEXANDRA PALACIOS ARAMBURU     dup_sanchezmiguel-angel@gmail.com  34707006676    NaN
15035  328-82-6784                   Dimas Cámara Mesa           dup_eazcona@casals-abril.es  34726948008    NaN
15036  480-03-9749                Juana Camacho Bustos         dup_leonciorosell@hotmail.com  34615425042    NaN
15037  277-13-4981                SARA RODRIGO NAVARRO                  dup_knovoa@cabeza.es  34715813501    NaN
15038  269-57-9381                JERÓNIMO LUJÁN TOMÁS                  dup_lcerro@yahoo.com  34742536240    NaN
15039  326-87-8170  Daniela Samanta Alcántara Manrique              dup_paulino14@llamas.org  34719780837    NaN

## 1.4 bis Eliminación de la columna Email
Se ha observado que existe una columna inservible que es necesaria eliminar para evitar posibles errores de limpieza en un futuro. Esta columna ya existe en el dataset y no aporta nada de información al tener todos sus valores nulos

In [19]:
# Vemos todos los valores únicos de la columna 'Email'
print("   ----------    Valores de la columna 'Email'    ----------    ")
print("\n")
print(df['Email'].unique())

# Eliminamos toda la columna de 'Email'
df = df.drop('Email', axis=1)
print("\n")
print("Columna 'Email' borrada")
print("\n")

# Mostramos algunas filas del dataset sin la columna 'Email'
print("   ----------    10 filas sin la columna 'Email'    ----------    ")
print("\n")
print(df.sample(10))

   ----------    Valores de la columna 'Email'    ----------


[nan]


Columna 'Email' borrada


   ----------    10 filas sin la columna 'Email'    ----------


               NIF                    NOMBRE                              EMAIL          TELEFONO
5311   389-93-5123  DORITA PINILLA DOMINGUEZ                  bjuarez@yahoo.com   +34737 23 76 33
1858   440-02-5745    Cayetana Jordá Sarabia           patriciasegui@cabeza.net    +34809 627 526
10021  438-55-8254  VENCESLÁS DEL MONTESINOS                  zvargas@gmail.com   +34945 27 87 58
1931   306-50-8495   Bartolomé Girona Martin       maximilianoredondo@gmail.com  +34 737 20 89 52
9962   795-01-7010         GUIOMAR COROMINAS               telloborja@yahoo.com  +34 723 29 79 61
8356   746-93-4783            CONCHA PEDRAZA  gomilamelisa@alegria-aragones.com  +34 874 69 23 63
2784   114-04-5921        Cloe Rozas Carbajo         penalvereligia@cardenas.es   +34 885 967 841
6996   775-51-1510        Amando Baró-Vicens            moraazucena@hotmail.com  +34 725 68 87 26
14428  466-44-2354    FABIOLA SANCHO CARNERO         vanesa73@castilla-pinto.es     +34 728249947
9606   753-54-2888    Paz Guijarro Calatayud       valentina95@borrego-arias.es  +34 878 05 04 92

## 1.5 Revisión de valores nulos
Como ya se ha visto en el anterior apartado (info), podemos observar los valores nulos de esa forma. Pero se puede observar de una forma más visual y, además, hay que tener en cuenta valores como el cero que también pueden considerarse nulos.

In [20]:
# Para poder saber el número de valores faltantes
print("    ----------    Valores faltantes    ----------    ")
print("\n")
print(df.isnull().sum())
print("\n")
# Para poder saber el número de ceros en cada columna
print("    ----------    Valores cero    ----------    ")
print("\n")
print((df == 0).sum())

    ----------    Valores faltantes    ----------


NIF          0
NOMBRE       0
EMAIL       20
TELEFONO     0
dtype: int64


    ----------    Valores cero    ----------


NIF         0
NOMBRE      0
EMAIL       0
TELEFONO    0
dtype: int64

Encontramos valores nulos en EMAIL, por lo que se debe corregir en un futuro obteniendo los datos de otro .csv, si existe un atributo similar, o rellenando los atributos vacíos.

Vamos a mostrar las filas con valores nulos

In [21]:
# Muestra las filas que tengan valores nulos
print("   ----------    Filas con valores nulos    ----------    ")
print("\n")
print(df[df.isnull().any(axis=1)])
print("\n")
# Número de filas con nulos en alguna columna
print("Número de filas con nulos en alguna columna: ", df.isnull().any(axis=1).sum())

   ----------    Filas con valores nulos    ----------


               NIF                               NOMBRE EMAIL          TELEFONO
350    665-35-8274                  Jordi Cabello Ochoa   NaN     +34 706955013
612    835-57-3680                 JOSEFA OSORIO CRESPO   NaN  +34 729 37 73 12
669    993-67-2645                AMANCIO DEL FERNÁNDEZ   NaN  +34 637 90 88 35
2537   329-46-7975                     Amarilis Calleja   NaN   +34 709 875 297
3861   604-98-6313                      Anselma Ródenas   NaN     +34 721194904
4070   583-45-2974                   Fidel García Vives   NaN   +34 730 408 177
6601   947-40-1508               TEODOSIO MÚÑIZ TORRENS   NaN    +34747 048 846
7241   404-04-0223  Margarita Isabela Valcárcel Jimenez   NaN     +34 728403554
7364   914-45-0525                   VIDAL BAYÓN SUAREZ   NaN   +34 883 714 653
7886   818-21-2804                 PÁNFILO TORMO PATIÑO   NaN      +34685645603
8815   263-41-7132                       Irene Gordillo   NaN  +34 859 08 69 39
9436   004-60-5880               ALBERTO OSORIO ESCOBAR   NaN    +34648 733 786
11566  491-76-6774                 CRISTIAN VALLS PLANA   NaN     +34 638783890
11944  807-22-8446               Rogelio Rosselló Arcos   NaN  +34 855 57 72 82
12043  715-31-3136                 MAURICIO COLOM VIDAL   NaN  +34 994 92 40 06
13049  754-89-4697                   Calista de Salazar   NaN   +34959 71 96 86
13106  083-58-7465                Josefa Casals Herrera   NaN   +34737 02 85 31
13334  759-63-1974              Dionisio Ledesma Cañete   NaN  +34 717 58 85 97
13846  997-47-9070                 EVELIA POZA-CASTELLS   NaN   +34 742 799 168
14555  181-45-5111                     RUFINO DE FERRÁN   NaN    +34703 987 976


Número de filas con nulos en alguna columna:  20

## 1.6 Identificación de fechas no estandarizadas
Se deben identificar las fechas que no se encuentran en el formato adecuado para MongoDB (DD/MM/YYYY)

Como en este dataset no hay fechas, este paso se saltará

## 1.7 Identificación de registros duplicados
Debemos validar que no existen filas iguales que ensucien el dataset, sobre todo estando pendiente de duplicaciones de la clave primaria

In [22]:
# Ver las filas duplicadas
print("   ----------    Filas duplicadas    ----------    ")
print("\n")
print(df[df.duplicated()])
print("\n")
# Número de filas duplicadas
print("Número de filas duplicadas: ", df.duplicated().sum())
print("\n")

# Filtrar filas que tienen el mismo NIF
duplicados = df.groupby('NIF').filter(lambda x: len(x) > 1)

# Ordenar por NIF para que las filas con el mismo NIF se visualicen una encima de la otra
duplicados = duplicados.sort_values(by='NIF')

# Mostrar las filas duplicadas
print("   ----------    Filas duplicadas    ----------    ")
print("\n")
print(duplicados)
print("\n")
print("Número de filas duplicadas: ", duplicados.shape[0])

   ----------    Filas duplicadas    ----------


Empty DataFrame
Columns: [NIF, NOMBRE, EMAIL, TELEFONO]
Index: []


Número de filas duplicadas:  0


   ----------    Filas duplicadas    ----------


               NIF                              NOMBRE                                  EMAIL          TELEFONO
15006  056-90-8764                  Artemio Sáez Rocha       dup_cocafernanda@roman-mateo.com       34703774440
5262   056-90-8764                  Artemio Sáez Rocha           cocafernanda@roman-mateo.com    +34703 773 853
7678   067-00-0467                 Kike Tejera Padilla                  ttoledo@alamo-pol.com   +34 980 134 373
15008  067-00-0467                 Kike Tejera Padilla              dup_ttoledo@alamo-pol.com       34980134855
12080  088-09-4602                  Rosalía Tolosa Amo                  jennycampoy@yahoo.com   +34699 04 91 17
15013  088-09-4602                  Rosalía Tolosa Amo              dup_jennycampoy@yahoo.com       34699049750
4458   107-66-0515                 DULCE MELERO-OLIVER                     qbecerra@gmail.com      +34921496050
15020  107-66-0515                 DULCE MELERO-OLIVER                 dup_qbecerra@gmail.com       34921496149
1525   177-17-2106              Soledad Guillén Murcia                pedrohernando@yahoo.com   +34 838 132 760
15024  177-17-2106              Soledad Guillén Murcia            dup_pedrohernando@yahoo.com       34838133631
9093   248-55-7839                  Regina Olmo Oliver                    osvaldo06@gmail.com   +34729 52 56 30
15025  248-55-7839                  Regina Olmo Oliver                dup_osvaldo06@gmail.com       34729525910
7987   263-50-2904                  Tito Carro Reguera                espejoanita@hotmail.com      +34725222075
15005  263-50-2904                  Tito Carro Reguera            dup_espejoanita@hotmail.com       34725222803
15032  267-97-3188               Jordán Domínguez Luna   dup_ernestoamigo@osorio-torralba.com       34722551376
11037  267-97-3188               Jordán Domínguez Luna       ernestoamigo@osorio-torralba.com  +34 722 55 04 60
15038  269-57-9381                JERÓNIMO LUJÁN TOMÁS                   dup_lcerro@yahoo.com       34742536240
5327   269-57-9381                JERÓNIMO LUJÁN TOMÁS                       lcerro@yahoo.com     +34 742535997
15001  269-82-0462         MARÍA BELÉN OROZCO CHAPARRO                 dup_lagustin@gmail.com       34722977813
2202   269-82-0462         MARÍA BELÉN OROZCO CHAPARRO                     lagustin@gmail.com   +34 722 976 960
7281   277-13-4981                SARA RODRIGO NAVARRO                       knovoa@cabeza.es      +34715812872
15037  277-13-4981                SARA RODRIGO NAVARRO                   dup_knovoa@cabeza.es       34715813501
5801   326-87-8170  Daniela Samanta Alcántara Manrique                   paulino14@llamas.org     +34 719779881
15039  326-87-8170  Daniela Samanta Alcántara Manrique               dup_paulino14@llamas.org       34719780837
6405   328-82-6784                   Dimas Cámara Mesa                eazcona@casals-abril.es  +34 726 94 76 12
15035  328-82-6784                   Dimas Cámara Mesa            dup_eazcona@casals-abril.es       34726948008
3468   360-19-6674               Malena Pineda Pedrero                       egallo@gmail.com   +34 952 927 915
15033  360-19-6674               Malena Pineda Pedrero                   dup_egallo@gmail.com       34952928398
15000  362-18-7973               JAVIER VALENTÍN-CÓZAR           dup_ginermarcial@maestre.org       34959121245
204    362-18-7973               JAVIER VALENTÍN-CÓZAR               ginermarcial@maestre.org  +34 959 12 09 29
6383   365-05-0740                      MANUEL DE RAYA              ayllonalejandra@yahoo.com   +34 721 953 807
15009  365-05-0740                      MANUEL DE RAYA          dup_ayllonalejandra@yahoo.com       34721954247
1052   480-03-9749                Juana Camacho Bustos              leonciorosell@hotmail.com      +34615424603
15036  480-03-9749                Juana Camacho Bustos          dup_leonciorosell@hotmail.com       34615425042
5223   498-07-4182             CRESCENCIA ABELLA OLIVA                   halberto@cabanas.net    +34732 270 088
15015  498-07-4182             CRESCENCIA ABELLA OLIVA               dup_halberto@cabanas.net       34732270988
10464  523-73-4025           ÁGATA CANDELA MADRID MATE                 borrasdanilo@gmail.com      +34720208919
15007  523-73-4025           ÁGATA CANDELA MADRID MATE             dup_borrasdanilo@gmail.com       34720209002
15028  538-71-2971            Salomé Gonzalez Valentín              dup_sol25@leon-manuel.org       34736857164
8493   538-71-2971            Salomé Gonzalez Valentín                  sol25@leon-manuel.org     +34 736856763
15026  572-02-0400                  Albano Baró Solera         dup_barrigaherminio@guillen.es       34706164392
8332   572-02-0400                  Albano Baró Solera             barrigaherminio@guillen.es   +34706 16 43 35
15004  586-26-9246                   NILO SALAZAR RAYA            dup_lorenza65@francisco.com       34735693086
2206   586-26-9246                   NILO SALAZAR RAYA                lorenza65@francisco.com   +34 735 693 055
13941  593-14-8098                MICAELA DUQUE GARCIA                  domingo17@hotmail.com      +34722815980
15003  593-14-8098                MICAELA DUQUE GARCIA              dup_domingo17@hotmail.com       34722816359
7925   634-78-8495              INMACULADA BARRAL LAGO                    larabelen@gmail.com  +34 746 34 27 69
15002  634-78-8495              INMACULADA BARRAL LAGO                dup_larabelen@gmail.com       34746343220
1347   669-84-3016                    Nicolás de Cases                    estevelupe@diez.com  +34 733 79 54 75
15029  669-84-3016                    Nicolás de Cases                dup_estevelupe@diez.com       34733796095
15022  713-05-3004       MAURA ZORAIDA SALCEDO SARABIA           dup_flavioquintana@yahoo.com       34734038515
9994   713-05-3004       MAURA ZORAIDA SALCEDO SARABIA               flavioquintana@yahoo.com   +34734 03 81 83
15019  730-30-6969                NIEVES PRIETO CODINA              dup_prudencia83@gmail.com       34731874870
4989   730-30-6969                NIEVES PRIETO CODINA                  prudencia83@gmail.com     +34 731874022
15014  801-67-2651                SILVIO CASTEJÓN VILA             dup_landapatricio@mora.com       34820021145
7942   801-67-2651                SILVIO CASTEJÓN VILA                 landapatricio@mora.com  +34 820 02 11 06
15016  836-96-3846             EMILIO FABREGAT IGLESIA               dup_pinoselena@gmail.com       34729005682
13382  836-96-3846             EMILIO FABREGAT IGLESIA                   pinoselena@gmail.com     +34 729005397
1352   849-79-8851              ELODIA MONTENEGRO FLOR              suarezhortensia@yahoo.com    +34837 948 954
15021  849-79-8851              ELODIA MONTENEGRO FLOR          dup_suarezhortensia@yahoo.com       34837949576
14227  865-28-2753                      AMANCIO HERVIA      federicoperal@armas-palomares.com  +34 729 45 26 48
15012  865-28-2753                      AMANCIO HERVIA  dup_federicoperal@armas-palomares.com       34729452722
3045   890-20-7814                        OLGA CÓRDOBA           maria-del-carmen21@gmail.com  +34 661 96 75 50
15027  890-20-7814                        OLGA CÓRDOBA       dup_maria-del-carmen21@gmail.com       34661967832
15011  901-22-6261       Visitación Corona Beltrán Luz        dup_abascaljenaro@benavides.com       34704539848
5506   901-22-6261       Visitación Corona Beltrán Luz            abascaljenaro@benavides.com  +34 704 53 97 63
2265   917-44-6828                Teresa Pinedo Blanca                 rosenda77@llorente.com    +34916 051 778
15031  917-44-6828                Teresa Pinedo Blanca             dup_rosenda77@llorente.com       34916052769
15010  934-51-4652                         NACHO OLIVÉ                   dup_wpages@yahoo.com       34727986359
10960  934-51-4652                         NACHO OLIVÉ                       wpages@yahoo.com  +34 727 98 59 27
13712  944-48-0443         ALEXANDRA PALACIOS ARAMBURU          sanchezmiguel-angel@gmail.com      +34707005985
15034  944-48-0443         ALEXANDRA PALACIOS ARAMBURU      dup_sanchezmiguel-angel@gmail.com       34707006676
4027   950-40-5738                    MÓNICA DEL LÓPEZ                       zacedo@yahoo.com   +34 876 618 784
15017  950-40-5738                    MÓNICA DEL LÓPEZ                   dup_zacedo@yahoo.com       34876619482
10259  966-73-0471            Bartolomé Catalán Sotelo                  viviana65@bertran.net  +34 720 25 23 28
15023  966-73-0471            Bartolomé Catalán Sotelo              dup_viviana65@bertran.net       34720252339
9448   974-78-3709             EFRAÍN MARISCAL BELTRAN                     zcases@hotmail.com   +34658 71 95 83
15030  974-78-3709             EFRAÍN MARISCAL BELTRAN                 dup_zcases@hotmail.com       34658720406
15018  992-92-5227                 Roque Gimenez Plana                 dup_qtovar@hotmail.com       34837245596
4780   992-92-5227                 Roque Gimenez Plana                     qtovar@hotmail.com  +34 837 24 51 93


Número de filas duplicadas:  80

Podemos observar que no hay filas completamente iguales. Pero, hay filas que poseen el mismo NIF y nombre pero con diferente Email y Teléfono. Se han decidido mantener porque un usuario puede poseer asociadas varias direcciones email y teléfonos, por lo que no se ve necesario la modificación

## 1.8 Búsqueda de errores tipográficos
Hay ciertos atributos de texto que pueden contar con determinados errores tipográficos que deben ser solucionados, como los nombres de áreas, juegos, usuarios y ubicaciones. Debemos ver si los usuarios poseen nombres en un formato adecuado

In [23]:
# Mostrar 20 filas aleatorias de nombres de usuario
print("   ----------    20 filas aleatorias de nombres de usuario    ----------    ")
print("\n")
print(df['NOMBRE'].sample(20))

   ----------    20 filas aleatorias de nombres de usuario    ----------


12728                     Conrado de Corral
14825                  Roldán Julián Ropero
12910                SOL MOSQUERA CARRETERO
2070                Cándido Portero Arregui
14372                DOLORES SALAS CORBACHO
3273                   MARCIA GUILLÉN SÁENZ
8601                  BENITO CABAÑAS TOLOSA
2413                   Javier Luján Saldaña
3271                    INMACULADA BERMÚDEZ
10140    SANCHO EUSTAQUIO GALVÁN MANZANARES
4622           MARÍA FERNANDA DEL BALLESTER
1852                          Calixto Viñas
7572                    Cesar Puga Aramburu
7958                    IGNACIO DEL CABRERO
12138                  MARTÍN CAMACHO SAINZ
9435                  ISABEL ALEGRE PEINADO
1756                 Carlota Rosado Camacho
11902               Marcial Ramirez Vilalta
10196               Juliana Castells Espada
14678                     Ale Barros Asenjo
Name: NOMBRE, dtype: object

Como se puede apreciar, los nombres poseen formatos distintos, por lo que se deben estandarizar

## 1.9 Identificación de valores enum fuera de campo
Hay ciertos atributos que solo deben poseer ciertos valores (como Operativo-NoOperativo). Hace falta identificar aquellos valores de ese campo fuera de la norma

En este dataset no se encuentran campos Enum, por lo que este paso se va a saltar

## 1.10 Validación de las coordenadas y otros campos geoespaciales
Hay algunas veces en las que los códigos postales no respetan la identificación de Madrid (280..) o el formato, ya sean códigos postales u otros atributos de geolocalización

En este dataset no encontramos valores de localización, por lo que este paso no se realizará

## 1.11 Identificación de unidades de medida en un formato no estandarizado
Se deben identificar las filas que no posean un formato estándar

En este dataset no encontramos valores de unidades de medida, por lo que este paso no se realizará

## 1.12 Otros atributos a corregir
En esta sección se mencionarán aquellos atributos que también deban ser limpiados por errores

### 1.12.1 Validar NIF
Debemos comprobar que todos los NIF posean el mismo formato '###-##-####', siendo un número, para que mantenga la coherencia con otros datasets (como el de Incidencias). A simple vista parece que sí, pero es mejor realizar una segunda comprobación más profunda

In [24]:
# Validar que todos los NIF tengan el siguiente formato: '###-##-####'
print("   ----------    Validar formato NIF    ----------    ")
print("\n")
print(df['NIF'].str.match(r'\d{3}-\d{2}-\d{4}').all())

   ----------    Validar formato NIF    ----------


True

Se puede observar que no hay valores nulos (gracias a pasos previos) y que todos poseen la misma estructura

### 1.12.2 Validar Email
Un email posee una estructura característica, por lo que se debe validar mediante una regex que cumple con el formato habitual

In [25]:
# Comprobar que todos los valores de la columna 'EMAIL' poseen el formato de un email
print("   ----------    Validar formato EMAIL    ----------    ")
print("\n")
print(df['EMAIL'].str.match(r'[^@]+@[^@]+\.[^@]+').all())

   ----------    Validar formato EMAIL    ----------


True

Como se puede apreciar, todas las filas no nulas cumplen con ese formato

### 1.12.3 Validar Nombre y teléfono móvil

Este paso se va a realizar en la limpieza, pero cabe destacar que si el nombre o el teléfono no cumplen con sus formatos habituales, las funciones de limpieza no se va a poder ejecutar, por lo que, de forma indirecta, se estarán validando ambos campos

# 2. Limpieza de los datasets
En este apartado se realizará la limpieza según la información obtenida en el análisis exploratorio de datos:
- Se debe corregir NOMBRE y TELEFONO para un formato homogéneo
- Se deben corregir los nulos de EMAIL

## 2.1 Limpieza de NOMBRE y TELEFONO

Debemos estandarizar todos los Nombres y Telefonos a un formato más lejible. En cuanto a teléfonos, se va a estandarizar toda la columna de teléfonos, comprobando que todos son +34 (aunque en un futuro podrán poseer cualquier prefijo) para agilizar la limpieza. Una vez comprobado, se eliminarán los espacios y se validará el formato de todos

In [26]:
# Pasamos todos los valores del campo 'NOMBRE' a un formato de nombre y apellidos
df['NOMBRE'] = df['NOMBRE'].str.title()
print("   ----------    Valores de la columna NOMBRE en formato de nombre y apellidos    ----------    ")
print("\n")
print(df['NOMBRE'].sample(10))
print("\n")

# Elimina los espacios entre caracteres de los valores de la columna 'TELEFONO'
df['TELEFONO'] = df['TELEFONO'].str.replace(' ', '')
print("   ----------    Valores de la columna TELEFONO sin espacios    ----------    ")
print("\n")
print(df['TELEFONO'].sample(10))
# Añade el '+' del principio a todos los valores de la columna 'TELEFONO' que no los posea
df['TELEFONO'] = df['TELEFONO'].apply(lambda x: '+' + x if x[0] != '+' else x)
print("\n")
print("   ----------    Valores de la columna TELEFONO con '+' al principio    ----------    ")
print("\n")
print(df['TELEFONO'].sample(10))

# Comprobación de que todos los valores de la columna TELEFONO comienzan por '+34'
print("\n")
print("   ----------    Validar formato TELEFONO    ----------    ")
print("\n")
print(df['TELEFONO'].str.match(r'\+34\d{9}').all())
# Muestra las filas que no cumplen con el formato de teléfono
print("\n")
print("   ----------    Filas que no cumplen con el formato de teléfono    ----------    ")
print("\n")
print(df[~df['TELEFONO'].str.match(r'\+34\d{9}')])

   ----------    Valores de la columna NOMBRE en formato de nombre y apellidos    ----------


7140             Martina Briones-Ponce
8175               Lina Pedraza Girona
13371              Edgardo Boix Posada
9063           Calisto Bernat-Cuadrado
10951               María Carmen Bayón
11144            Mayte Martínez Aliaga
4137     Marcela Octavia Quesada Pagès
6339           Miriam Casanova Montoya
5456           Bernardino Bastida-Baró
10993               Onofre Gascón-León
Name: NOMBRE, dtype: object


   ----------    Valores de la columna TELEFONO sin espacios    ----------


4913    +34746265342
5199    +34747205951
3483    +34903439085
189     +34737028286
5571    +34678402432
9658    +34734410734
7172    +34739744805
999     +34718178163
8415    +34723812532
577     +34667903773
Name: TELEFONO, dtype: object


   ----------    Valores de la columna TELEFONO con '+' al principio    ----------


301      +34736660733
1821     +34724190779
12347    +34706729168
6676     +34732119394
5367     +34830294121
1081     +34953342541
8739     +34700126534
7762     +34981573415
775      +34707995794
12108    +34704537640
Name: TELEFONO, dtype: object


   ----------    Validar formato TELEFONO    ----------


True


   ----------    Filas que no cumplen con el formato de teléfono    ----------


Empty DataFrame
Columns: [NIF, NOMBRE, EMAIL, TELEFONO]
Index: []

Se puede apreciar que ya han quedado estandarizado todos los nombres y teléfonos

## 2.2 Limpieza de EMAIL
Se van a rellenar todos los emails faltantes siguiendo un formato específico:
- NIF(con guiones para facilitar las queries en un futuro)-EMAIL-Desconocido

In [27]:
# Cambiamos los valores nulos por una string personalizada en la que combinamos el NIF de esa fila y el nombre de la columna en cuestión

# Función para generar la cadena personalizada
def string_email_desc(row):
    return f"{row['NIF']}_EMAIL_Desconocido"

# Reemplazar valores nulos
df['EMAIL'] = df.apply(lambda row: string_email_desc(row) if pd.isnull(row['EMAIL']) else row['EMAIL'], axis=1)

print("   ----------    Filas con valores nulos    ----------    ")
print("\n")
print(df[df.isnull().any(axis=1)])

   ----------    Filas con valores nulos    ----------


Empty DataFrame
Columns: [NIF, NOMBRE, EMAIL, TELEFONO]
Index: []

Como se puede apreciar, los emails ya no están vacíos

## 2.4 Mostrar Dataset Limpio y guardar CSV
Vamos a mostrar algunas filas del dataset limpio para validar que todo está OK y guardamos el Dataset

In [28]:
# Enseñamos 10 filas aleatorias para ver cómo quedan
print("   ----------    10 filas aleatorias    ----------    ")
print("\n")
print(df.sample(10))
print("\n")

# Mostramos 10 filas que posean el comentario 'Desconocido' y 10 filas que posean el tipo 'Desconocido'
print("   ----------    Filas EMAIL con 'Desconocido'    ----------    ")
print("\n")
print(df[df['EMAIL'].str.contains('Desconocido')].sample(10))
print("\n")

# Guardamos el dataset limpio
df.to_csv('../UsuariosLimpio.csv', index=False)
print("\n")
print("Dataset limpio guardado")

   ----------    10 filas aleatorias    ----------


               NIF                         NOMBRE                           EMAIL      TELEFONO
5019   550-98-3208   Carmelita Montalbán Doménech           aleiva@roma-baena.com  +34733883077
1504   924-77-8580             Nydia Calvo-Ibáñez              chus52@hotmail.com  +34710690294
7722   906-84-0821           Chita Aguilera Duque   geraldocruz@molins-zabala.com  +34990600445
5379   543-74-9102           Hernando De Gallardo         bayoncasandra@gmail.com  +34739639684
2358   713-41-8944  Jose Manuel Canals Santamaría             marioegea@gmail.com  +34746535571
14756  219-47-4797        Pepito Valenzuela-Viñas              jose08@agustin.net  +34728457827
2796   466-10-8414          Elvira Arribas Ferrán            dalila21@hotmail.com  +34675683545
7041   693-33-0477              José Casas Moreno           julieacosta@gimeno.es  +34705817927
4834   897-07-9402      José Ángel Blasco-Gonzalo                   juan05@paz.es  +34717860747
6764   450-06-2508            Jordi Del Lumbreras  moralesrodolfo@albero-vega.com  +34745612535


   ----------    Filas EMAIL con 'Desconocido'    ----------


               NIF                               NOMBRE                          EMAIL      TELEFONO
7241   404-04-0223  Margarita Isabela Valcárcel Jimenez  404-04-0223_EMAIL_Desconocido  +34728403554
11566  491-76-6774                 Cristian Valls Plana  491-76-6774_EMAIL_Desconocido  +34638783890
13334  759-63-1974              Dionisio Ledesma Cañete  759-63-1974_EMAIL_Desconocido  +34717588597
2537   329-46-7975                     Amarilis Calleja  329-46-7975_EMAIL_Desconocido  +34709875297
7886   818-21-2804                 Pánfilo Tormo Patiño  818-21-2804_EMAIL_Desconocido  +34685645603
350    665-35-8274                  Jordi Cabello Ochoa  665-35-8274_EMAIL_Desconocido  +34706955013
669    993-67-2645                Amancio Del Fernández  993-67-2645_EMAIL_Desconocido  +34637908835
9436   004-60-5880               Alberto Osorio Escobar  004-60-5880_EMAIL_Desconocido  +34648733786
13106  083-58-7465                Josefa Casals Herrera  083-58-7465_EMAIL_Desconocido  +34737028531
13049  754-89-4697                   Calista De Salazar  754-89-4697_EMAIL_Desconocido  +34959719686

Dataset limpio guardado